  @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

  .App{
  height:1200px;
  width:1200px;
  background-color: blue;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-family: 'Jost', sans-serif;
}